@font-face 
{
    font-family: 'germinabunt';
    src: url('germinabunt.ttf');
}

body
{
    background-image: url("images/fond.jpg");
    background-size: cover;
}

ul
{
    margin-left: 1%;
    text-align: justify;
    font-size: 3em;
    font-family: Arial;
    display: inline-block;
}

h1 
{
    font-size: 5em;
    font-family: 'germinabunt';
}

h2 
{
    font-size: 3em;
    font-family: 'germinabunt';
}

#bloc_page
{
    display: flex;
}

#image 
{
    background-image: url("images/village2.jpg");
    background-size: cover;
    background-position: center;
    flex: 1;
    border: solid;
}

#texte
{
    flex: 2;
    margin: 1em;
}
