@font-face 
{
    font-family: 'germinabunt';
    src: url('germinabunt.ttf');
}

body
{
    background-image: url("images/fond.jpg");
    background-size: cover;
}

ol
{
    font-size: 3em;
    font-family: Arial;
}

h1 
{
    font-size: 5em;
    font-family: 'germinabunt';
    text-align: center;
}

h2 
{
    font-size: 1em;
}

.submitbtn
{
    margin:0 auto;
    display:block;
    font-size: 2em;
}
