body
{
    background-image: url("images/fond_carte.jpg");
    background-size: cover;
}

#bloc_page
{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

#droite
{
    background-color: red;
}

header 
{
    background-color: blue;
}

#contenu_gauche 
{
    background-color: yellow;
}
