html {    
    background: url('images/test.jpg') no-repeat center fixed;     
    background-size: cover;
}

#bloc_page
{
    background-color: orange;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 10em;
    text-align: center;
    padding-bottom: 1%;
}
